<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Лабораторна робота номер №4</title>
</head>
<body>
    <table>
<tr>
<div id="list1" ng-controller='ShoppingListController1 as list1'>
	<div class="table1">
   	 <h3>Купити:</h3>
   			<ol>
      	 		<li ng-repeat="item in list1.item">
          		  Купити {{item.name}} - {{item.quantity}} шт
            	<button ng-click="list1.removeItem($index);">Купити</button>
        	</li> 
    	</ol>
    </div>
</div>
</tr>
<tr>
<div id="list2" ng-controller='ShoppingListController2 as list2'>
	<div class="table2">
    <h3>Куплено:</h3>
    <ol>
        <li ng-repeat="item in list2.item">
            Куплено {{ item.quantity}} {{item.name}}
        </li>
    </ol>
    <div ng-if="list2.item.length === 0">
        Ще нічого не куплено...
    </div>
    </div>
</div>
</tr>
</table>
</body>
</html>